name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: FTP Deploy
      uses: SamKirkland/FTP-Deploy-Action@2.0.0
      with:
        # FTP server name (you may need to specify a port)
        ftp_server: ${{ secrets.FTP_OVH_HOST }}
        # FTP account username
        ftp_username: ${{ secrets.FTP_OVH_USERNAME }}
        ftp_password: ${{ secrets.FTP_OVH_PASSWORD }}
        # The remote folder to copy to, deafults to root FTP folder (I recommend you configure this on your server side instead of here)
        remote_dir: /www
